@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "IBM Plex Mono";
}

.table-wrapper {
    box-shadow: none!important;
}

@media (min-width: 31.25rem) {
    .site-title {
        font-size: 0.7rem !important;
    }
}

 
@media (max-width: 480px) {
    .site-title {
        font-size: 0.8rem !important;
        
    }
}

/* MIXES INDEX */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  width: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust height as necessary */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease; /* Smooth transition for zoom effect on hover */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); /* Semi-transparent overlay for the entire card */
  padding: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns tags at top and title at bottom */
}

.mix-title {
    background: white;
    color: black;
    padding-left: 10px;
}

.tag-container {
  align-self: flex-end; /* Positions tags at the top-right */
}

.title-container {
  align-self: flex-start; /* Positions title at the bottom */
  width: 100%; /* Ensures title spans the width of the card */
  text-align: left; /* Aligns the text to the left */
}

.tag {
  display: inline-block;
  background-color: #e9ecef;
  color: #333;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 2px;
  font-size: 0.5em;
}

@media (max-width: 768px) {
  .card-link {
    width: 100%; /* Full width on smaller screens */
  }
}

