<div class="mix-container">

  {% for page in sorted_pages %}
    <div class="mix-item">
      <a href="{{ page.url | relative_url }}" class="mix-link">
        <div class="mix-thumbnail">
          <img src="{{ page.image }}" alt="{{ page.title }}">
        </div>
        <div class="mix-details">
          <h3>{{ page.title }}</h3>
          <div class="tag-container">
            {% for tag in page.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <p>{{ page.description | strip_html | truncatewords: 15 }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>